<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
</head>
<body>
<h2 th:text="${title}"></h2>
<form th:action="@{/form}" th:object="${user}" method="post">
  <div>
    <label for="id">Identifier</label>
    <input type="text" id="id" th:field="*{id}">
    <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
  </div>
  <div>
    <label for="lastName">Lastname</label>
    <input type="text" id="lastName" th:field="*{lastName}">
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
  </div>
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" th:field="*{username}">
    <!-- ! Other way to show the username of the map-->
    <!-- <div th:if="${errors != null && errors.containsKey('username')}" th:text="${errors.username}"></div>-->
    <!-- <div th:if="${errors != null && errors.containsKey('username')}" th:text="${errors.get('username')}"></div>-->
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" th:field="*{password}">
    <!-- <div th:if="${errors != null && errors.containsKey('password')}" th:text="${errors.get('password')}"></div>-->
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" th:field="${user.email}">
    <!-- <div th:if="${errors != null && errors.containsKey('email')}" th:text="${errors.get('email')}"></div>-->
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  </div>
  <div>
    <label for="account">Account</label>
    <input type="text" id="account" th:field="${user.account}">
    <!-- <div th:if="${errors != null && errors.containsKey('account')}" th:text="${errors.get('account')}"></div>-->
    <div th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></div>
  </div>
  <div>
    <input type="submit" name="button" value="Submit">
  </div>
</form>
</body>
</html>