<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<p th:if="${users.isEmpty()}">There are no users in the list</p>
<table th:if="${!users.isEmpty()}">
  <thead>
  <tr>
    <th>Name</th>
    <th>LastName</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user: ${users}">
    <td th:text="${user.name}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.email}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>