<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<h2 th:text="${user.name}"></h2>
<h2 th:text="${user.lastName}"></h2>
<!-- if -->
<span th:if="${user.email}" th:text="${user.email}"></span>
<!--<span th:if="${user.email == null}" th:text="'el usuario es null'"></span>-->
<span th:if="${user.email == null}">The user is null</span>
</body>
</html>